*{
    margin: 0;
    padding: 0;
}

.left {
    width: 25vw;
    padding: 12px;
}

.right {
    width: 75vw;
}

.home{
}

.home ul li{
    display: flex;
    gap: 16px;
    width: 20px;
    list-style: none;
    padding-top: 22px;
}